@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap"); /* CSS RESET */
/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
*/
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  min-width: 100%;
  --font-main: "Quicksand", sans-serif; /* For headings */
  --font-secondary: "Nunito", sans-serif; /* For body text */
  --font-heading: "Inter", sans-serif;
  --bg-main: #e0e5ec;
  --bg-secondary: #dce2eb;
  --text-main: #232f4b;
  --text-accent: #24569b;
  background-color: var(--bg-main);
  font-family: var(--font-secondary);
  color: var(--text-main);
}

/*
    5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
}

/*
    6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%;
}

/*
    7. Avoid text overflows and inherit font size
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

/*
    8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

@media (max-width: 1024px) {
  html {
    font-size: 12px; /* 1rem = 12px */
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 18px; /* 1rem = 14px */
  }
}

@media (min-width: 1200px) and (max-width: 1540px) {
  html {
    font-size: 16px; /* 1rem = 16px */
  }
}

.main {
  padding: 2rem 1rem 2rem 2rem;
  height: 100vh;
  display: flex;
  position: relative;
  gap: 1rem;
}

.nav {
  min-width: 22vw;
  max-width: 22vw;
  height: 100%;
  width: 22vw;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--bg-secondary);
  box-shadow: 9px 9px 20px rgba(190, 205, 226, 0.65),
    -12px -12px 20px rgba(248, 248, 248, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  transition: all 250ms ease-in-out;
  position: relative;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .nav {
    min-width: fit-content;
  }
}

/* Webkit-based browsers */
.nav::-webkit-scrollbar,
.content-view::-webkit-scrollbar,
#description::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.nav::-webkit-scrollbar-thumb,
.content-view::-webkit-scrollbar-thumb,
#description::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--text-main), var(--text-accent));
  border-radius: 20px;
  border: 2px solid var(--bg-secondary);
}

.nav::-webkit-scrollbar-thumb:hover,
.content-view::-webkit-scrollbar-thumb:hover,
#description::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, var(--text-accent), var(--text-main));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.nav::-webkit-scrollbar-thumb:active,
.content-view::-webkit-scrollbar-thumb:active,
#description::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.nav::-webkit-scrollbar-track,
.content-view::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 20px;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

#description::-webkit-scrollbar-track {
  background: #e4ebf5;
  border-radius: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nav::-webkit-scrollbar-corner,
.content-view::-webkit-scrollbar-corner,
#description::-webkit-scrollbar-corner {
  background: var(--bg-secondary);
}

.nav::-webkit-scrollbar-button,
.content-view::-webkit-scrollbar-button,
#description::-webkit-scrollbar-button {
  background: var(--text-main);
  border-radius: 50%;
  display: none;
}

.nav:hover {
  box-shadow: 11px 11px 24px rgba(190, 205, 226, 0.9),
    -14px -14px 22px rgb(255, 255, 255);
}

.nav.collapsed {
  padding: 1.5rem 1rem;
  width: 4.5rem;
  min-width: 0;
}

.nav.collapsed .collapse-btn {
  left: 1rem;
}

.nav.collapsed .inset-bg,
.nav.collapsed .categories,
.nav.collapsed .nav-row,
.nav.collapsed .tasks {
  display: none;
}

.nav.collapsed .nav-row {
  justify-content: center;
  gap: 0;
}

.nav-row {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  justify-content: space-between;
  color: var(--text-main);
}

.collapse-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.collapse-btn,
.add-category-btn,
.add-todo-btn,
.modal-buttons button {
  outline: transparent;
  background-color: var(--bg-main);
  border-radius: 1rem;
  /* Neumorphic Raised Shadow */
  box-shadow: 9px 9px 17px rgba(167, 180, 199, 0.5),
    -8px -8px 17px rgba(248, 248, 248, 0.7);
  transition: all 200ms ease-in-out;
  border: 1px solid rgba(214, 214, 214, 0.432);
  cursor: pointer;
  color: var(--text-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-btn:hover,
.add-category-btn:hover,
.add-todo-btn:hover,
.modal-buttons button:hover {
  box-shadow: 12px 12px 22px rgba(174, 189, 211, 0.9),
    -12px -12px 22px rgba(255, 255, 255, 1);
  color: var(--text-accent);
  font-weight: 700;
  scale: 1.08;
}

.collapse-btn:hover i,
.add-category-btn:hover i,
.add-todo-btn:hover i {
  color: var(--text-accent);
}

/* Click Animation (Pressed-In Effect) */
.collapse-btn:active,
.add-category-btn:active,
.add-todo-btn:active,
.modal-buttons button:active {
  box-shadow: inset 5px 5px 10px rgba(190, 205, 226, 0.7),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
  transform: scale(0.95);
  color: var(--text-accent);
}

#nav-header {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  color: var(--text-main);
}

#nav-header span {
  font-style: italic;
  text-decoration: underline;
}

.tasks,
.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* flex: 1; */
}

.tasks {
  padding-bottom: 1rem;
  border-bottom: 1px solid #232f4b21;
  position: relative;
}

.task-title {
  font-weight: 900;
  font-family: var(--font-secondary);
  font-size: 0.95rem;
  height: 1.5rem;
}

/* General segmented control styling */
.segmented-control.vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 0.5rem;
}

.segmented-control.vertical input[type="radio"] {
  display: none;
}

.segmented-control__tab,
.categories__tab {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  height: 2.5rem;
  background: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--text-main);
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  z-index: 2;
  word-wrap: break-word;
  flex-wrap: wrap;
}

/* Hover effect for tabs */
.segmented-control__tab:hover,
.categories__tab:hover {
  color: var(--text-accent);
}

/* Active tab styles */
#upcoming:checked + .segmented-control__tab,
#today:checked + .segmented-control__tab,
#all-tasks:checked + .segmented-control__tab,
#overdue:checked + .segmented-control__tab,
.user-category:checked + .categories__tab {
  font-weight: 800;
  color: var(--text-accent);
}

/* Tab-specific styles for icons */
.segmented-control__tab i,
.categories__tab i {
  transition: color 0.3s ease;
}

#upcoming:checked + .segmented-control__tab i,
#today:checked + .segmented-control__tab i,
#all-tasks:checked + .segmented-control__tab i,
#overdue:checked + .segmented-control__tab i,
.user-category:checked + .categories__tab i {
  color: var(--text-accent);
}

.categories {
  flex: 1;
  position: relative;
  gap: 0.5rem;
}

.inset-bg {
  position: absolute;
  left: 1.5rem;
  top: 10rem;
  width: calc(100% - 3rem);
  height: 2.5rem;
  box-shadow: inset 4px 4px 8px rgba(163, 177, 198, 0.6),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: #e4ebf5;
  opacity: 1;
  transition: all 0.3s ease, opacity 0.4s ease;
  z-index: 1;
}

.add-category-btn {
  position: absolute;
  right: 0;
  top: -0.25rem;
  padding: 0.7rem 0.8rem;
}

.add-todo-btn {
  width: fit-content;
  gap: 0.5rem;
  padding: 0 1rem;
  height: 2rem;
  position: absolute;
  z-index: 3;
}

.add-todo-btn {
  right: 2rem;
  top: 2.5rem;
}

.sort-btn {
  right: 10.5rem;
  top: 2.5rem;
  width: 14rem;
}

.filter-btn {
  right: 25.5rem;
  top: 2.5rem;
}

.sort-btn.overdue-shift {
  right: 2rem;
  top: 2.5rem;
}

.filter-btn.overdue-shift {
  right: 6rem;
  top: 2.5rem;
}

.content-view {
  overflow-y: auto;
  flex: 1;
}

.page-title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 700;
}

.add-category-input {
  display: none;
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 0;
  width: 100%;
  opacity: 0;
  box-shadow: inset 4px 4px 8px rgba(163, 177, 198, 0.6),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
  background: #e4ebf5;
}

.add-category-input.open {
  display: flex;
  height: 2.5rem;
  max-height: 2.5rem;
  opacity: 1;
}

#add-new-category {
  outline: transparent;
  border: none;
  padding: 0 0 0 1rem;
  background-color: transparent;
  height: 100%;
  width: 83%;
  color: #232f4b;
  font-weight: 700;
}

.add-cat {
  outline: transparent;
  border: none;
  cursor: pointer;
  padding: 0.7rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100%;
  width: 17%;
}

.category-sticky-note {
  background-color: #fbffc6; /* Light yellow sticky note color */
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  overflow-wrap: break-word;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.category-sticky-note:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.category-task-list {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #555;
  padding-left: 1rem;
}

.category-task-list li {
  list-style-type: disc;
}

.empty-category-message {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #777;
}

.content-view {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.category-grid {
  display: grid;
  padding: 0.4rem 1rem 1rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: start;
  overflow-y: auto;
}

.empty-message-sticky {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
  color: #8091ac;
  width: 100%;
}

.empty-message-todo {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
  color: #8091ac;
  width: 100%;
}

.todo-item-list {
  position: relative;
  display: flex;
  height: 100%;
  padding: 1rem 1rem 0 1rem;
  flex-direction: column;
  overflow-y: auto;
}

/* Container for the entire row */
.todo-item-row {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease;
}

/* Completed tasks get strikethrough and slight fade */
.todo-item-row.completed {
  opacity: 0.6; /* Reduces opacity */
  transition: opacity 0.3s ease, text-decoration 0.3s ease; /* Smooth transitions for changes */
}

.todo-item-row.completed .todo-title,
.todo-item-row.completed .todo-desc,
.todo-item-row.completed .todo-priority,
.todo-item-row.completed .todo-due-date,
.todo-item-row.completed .todo-category-badge {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #003c91;
}

/* Overdue highlight */
.todo-item-row.overdue {
  background-color: #ffe6e6;
}

.todo-checkbox {
  display: none;
}

.todo-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.checkbox-icon {
  box-shadow: 0.3rem 0.3rem 0.7rem rgba(163, 177, 198, 0.6),
    -0.4rem -0.4rem 2rem rgba(255, 255, 255, 1);
  background: #e4ebf5;
  border: 1px solid #e0e8f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  color: #bdc3d4;
}

.todo-label:hover .checkbox-icon {
  color: var(--text-accent);
}

.todo-title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 0.7rem;
  margin-left: 0.4rem;
  transition: color 0.3s ease;
}

.todo-label:hover .todo-title {
  color: var(--text-accent);
}

.todo-checkbox:checked + .todo-label .checkbox-icon {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(163, 177, 198, 0.5),
    inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.6);
  color: var(--text-accent);
}

.todo-desc {
  flex: 1;
  flex-wrap: wrap;
}

.todo-priority {
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.todo-priority.priority-low {
  background: #3db37f;
  color: #fff;
}
.todo-priority.priority-medium {
  background: #f0db4f;
  color: #000;
}
.todo-priority.priority-high {
  background: #db4e6a;
  color: #fff;
}

.todo-category-badge {
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  background-color: #b8d9ff;
  color: var(--text-accent);
  font-weight: 700;
  font-size: 1.05rem;
}

.edit-todo-btn,
.delete-todo-btn,
.delete-cat-btn {
  display: flex;
  border: none;
  outline: transparent;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.2s ease;
  color: var(--text-main);
}

.edit-todo-btn:hover,
.delete-todo-btn:hover,
.delete-cat-btn:hover {
  scale: 1.2;
  color: var(--text-accent);
  cursor: pointer;
  opacity: 1;
}

.edit-todo-btn:active,
.delete-todo-btn:active,
.delete-cat-btn:active {
  scale: 0.95;
}

.delete-cat-btn {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  color: #777;
}

.todo-due-date {
  color: #3f3f3f;
  font-size: 1rem;
  font-weight: 600;
}

.embedded-form {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 3.5rem);
  grid-auto-rows: 3.5rem;
  transition: max-height 0.5s ease-in-out;
}

.title-div {
  grid-row: 1/2;
  grid-column: 1/4;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.title-div input,
.desc-div textarea,
.new-category-input-div input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  outline: transparent;
  border: none;
  padding: 0.2rem 0.8rem;
}

.desc-div textarea {
  overflow-y: auto;
  resize: none;
  padding: 0.4rem 0.6rem 0.4rem 0.8rem;
  border-radius: 1rem;
}

.title-div input,
.desc-div textarea,
.due-date-div input,
.prio-div select,
.cat-div select,
.sort-btn,
.filter-btn,
.new-category-input-div input:enabled {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(163, 177, 198, 0.5),
    inset -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.6);
  background: #e4ebf5;
  border: none;
}

.title-div input:focus,
.desc-div textarea:focus,
.due-date-div input:focus,
.prio-div select:focus,
.cat-div select:focus,
.sort-btn:focus,
.filter-btn:focus,
.new-category-input-div input:focus {
  box-shadow: 0.3rem 0.3rem 0.7rem rgba(163, 177, 198, 0.6),
    -0.4rem -0.4rem 2rem rgba(255, 255, 255, 1);
  border: 1px solid #e0e8f1;
}

.desc-div {
  grid-row: 1/4;
  grid-column: 4/7;
  padding: 0.5rem;
}

.due-date-div {
  grid-row: 2/3;
  grid-column: 7/10;
  padding: 0.5rem;
}

.prio-div {
  grid-row: 1/2;
  grid-column: 7/10;
  padding: 0.5rem;
}

.cat-div {
  grid-row: 2/3;
  grid-column: 1/4;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.due-date-div,
.cat-div,
.prio-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-div label,
.prio-div label,
.due-date-div label {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: var(--font-main);
  width: fit-content;
}

.cat-div select,
.prio-div select,
.due-date-div input {
  font-size: 1rem;
  height: 100%;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  outline: transparent;
  border: none;
  width: 66%;
  overflow-x: auto;
}

.sort-btn,
.filter-btn {
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  outline: transparent;
  border: none;
  overflow-x: auto;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.cat-div select {
  padding: 0.2rem 0.4rem 0.2rem 0.8rem;
}

.new-category-input-div {
  grid-row: 3/4;
  grid-column: 1/4;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.new-category-input:disabled {
  background-color: #d2d8e0;
  cursor: not-allowed;
}

.new-category-input:disabled::placeholder {
  color: #bbbbbb;
  font-weight: 300;
}

.modal-buttons {
  grid-row: 3/4;
  grid-column: 7/10;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.modal-buttons button {
  flex: 1;
}
